{# simulator/plasmid_view.html #}
{% extends "frontend/base.html" %}

{% block title %}InSillyClo – Plasmid View{% endblock %}

{% block content %}
<section class="container text-center mt-5">
  <h1 class="hero-title">Plasmid View</h1>
  <h1 class="hero-subtitle">{{ plasmid_name }}</h1>
</section>

<main class="flex-grow-1">
  <div class="container py-4">
    <div class="assembly-card">
        {{svg|safe}}
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'simulator:simulations_list' %}" class="btn btn-outline-secondary">Back to my simulations</a>
    </div>

  </div>
</main>

{% endblock %}