{% extends "frontend/base.html" %}

{% block title %}
InSillyClo - Home
{% endblock %}

{% block content %}

<section class="container text-center mt-5">
  <h1 class="hero-title">InSillyClo</h1>

  <div class="hero-subtitle">
    Focus on your designs, InSillyClo takes care of the rest
  </div>

  <p class="hero-text">
    InSillyClo assists users in Golden Gate and MoClo-based cloning workflows
    by automating plasmid assembly planning, dilution calculations
    and in silico validation.
  </p>
</section>

<!-- MAIN ACTION -->
<section class="container mt-5">
  <div class="row align-items-center gy-4">

    <!-- ASSEMBLY SIMULATOR -->
    <div class="col-md-6">
      <div class="assembly-card">
        <h3 class="assembly-title mb-3">ASSEMBLY SIMULATOR</h3>
        <p class="mb-4">
          Perform in silico assembly of plasmids using predefined templates.
          Simulate digestion, PCR validation and expected fragments.
        </p>
        <a href="/campaigns/simulator/" class="btn btn-assembly">
          START ASSEMBLY SIMULATOR
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <h4 class="fw-semibold mb-3">Let's get started!</h4>
      <p>
        Specify the plasmids you want to assemble using one of the available templates
        and simulate the experiment to obtain useful data such as plasmid maps
        and expected control gels.
      </p>
      <p class="text-muted mb-0">
        Public access allows quick simulations.
        Logging in enables template management, saved plasmid collections and publication workflows.
      </p>
    </div>

  </div>

  <div class="row align-items-center gy-4 mt-4">

    <!-- ASSEMBLY DESIGNER -->
    <div class="col-md-6 order-md-2">
      <div class="assembly-card">
        <h3 class="assembly-title mb-3">ASSEMBLY DESIGNER</h3>
        <p class="mb-4">
          Create your own assembly from scratch
        </p>
        <a href="campaigns/designer/" class="btn btn-assembly">
          START ASSEMBLY DESIGNER
        </a>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <h4 class="fw-semibold mb-3"> Predefined templates don't suit you?</h4>
      <p>
        Design your own plasmid assembly workflows interactively without relying on predefined templates.
      </p>
      <p class="text-muted mb-0">
        This feature is intended for logged-in users who want full control
        over the assembly process.
      </p>
    </div>

  </div>
</section>

{% endblock %}