{% extends 'frontend/base.html' %}
{% block title %}Designer Summary{% endblock %}
{% block content %}
<div class="container py-4">
  {% include "browse/assembly_details_partial.html" %}
  <div class="text-center mb-5">
        <h1 class="text-uppercase fw-bold">Design Complete</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-5"></div>
        <a href="{% url 'browse:browse_templates' %}" class="btn btn-success px-5">
            Finish & View in Browse
            <i class="bi bi-check-lg ms-2"></i>
        </a>
    </div>
</div>
{% endblock %}
